.playlist-container {
    width:100%;
    margin: auto;
}


.playlist {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 62vh;
    overflow: scroll;
    font-size: 13px;
    min-width: 250px;
    border: solid 1px black;
}

.playlistTitle {
    width: 100%;
    min-width: 250px;
    overflow-y:none;
    margin: auto;
    border: solid 1px black;
    color:black;
    height: 8vh;
    text-align: center;
}

.songShell {
    display:block;
    margin: 10px;
    width: 25%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 22vh;
}
.songTitle {
    position: relative;
    bottom: 90%;
    color: white;
    font-size: 2vh;
}
.artistName {
    position: relative;
    bottom: 80%;
    color: white;
    font-size: 50%;
    max-height: 
}
.songShell > img {
    margin: auto;
    width: 100%;
    height: 20vh;
}
