.songsInList {
    display: block;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height:6vh;
    border: white 1px solid;
    text-align: center;
    margin:auto;
}

.playlist {
    background-color:black;
    /* border: black 5px solid; */
    width: 90%;
    margin: auto;
    height: 62vh;
    overflow: scroll;
    font-size: 13px;
    min-width: 250px;
}

.playlistTitle {
    width: 90%;
    min-width: 250px;
    overflow-y:none;
    margin: auto;
    background:black;
    color:white;
    height: 8vh;
    text-align: center;
}
.playlist-container {
    width:100%;
    margin: auto;
}

ul li:hover {background: whitesmoke;
            color:black}

ul li:visited {background: #555;}

ul li:active {background: #555;}

.card .card-title {
    font-size: 10vh;
}